body{
  background-color: pink;
}

.header{
  background-color: green;
}

.portfolio {
  background-color: green;
}

.aboutMe{
  background-color: green;
}

.contact{
  background-color: green;
}

.projects {
  background-color: orange;
}

h3 {
  color:purple;
}
