body{
  background-color: white;
  padding-top: 1px;
}

.header{
  background-color: green;
  text-align: center;
  border-radius: 0px;
  padding: 0px;
  margin: 0px:
  margin-bottom: 5px;
}

h3 {
  color:purple;
}

h4{
  color:black;
}

.caption {
  width:100%;
  bottom: 15rem;
  position: absolute;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin:0;
  margin-bottom: 45px;
  padding:0;
  transition: none;
}

.caption h1, h2, ul {
  color: #fff;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
}

.caption h1{
  font-size: 5em;
  margin: -18px;
  padding: 0px;
}

.caption h2{
  letter-spacing: .5px;
  word-spacing:3px;
  margin-top: 2px;
}

#firstname{
  margin-bottom: -25px;
  letter-spacing: 5.5px;
}

.caption ul{
  margin-top: 10px;
}
.caption li {
  display: inline;
  margin: .3em;
  border: 1px solid rgba(255, 255, 255, .0);
  padding: 7px;
  padding-top: 5px;
}

a{
  color: white;;
}

a:hover {
  color:white;
  text-decoration: none;
}

.caption li:hover{
  border: 1px solid white;
  padding: 7px;
  padding-top: 5px;
}

h3{
  color: #656256;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1.5px solid #656256;
  letter-spacing: 1.5px;
}

h4{
  color: white;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  font-weight: lighter;
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
  border-bottom: 1.5px solid #656256;
  letter-spacing: 8px;
  text-align: center;
}


.portfolio {
  margin-left: 2px;
  margin-right: 2px;
}

.aboutMe{
  background-color: green;
}

.contact{
  background-color: green;
}

.project {
  background-color: #656256;
  min-height: 300px;
  border: 1.5px solid rgba(255, 255, 255, .0);
  margin: -7px;
  margin-top: 10px;
  text-align: center;
}

.project p{
  letter-spacing: 1.75px;
  margin-top: 15px;
  margin-left: 5px;
  color: white;
}

.gitLink a{
  color: #8acb88;
  margin-top:5px;
}
.techUsed{
  position: absolute;
  bottom: 0px;
}

.row{
  margin-bottom: 45px;
}
