body{
  background-color: white;
  padding-top: 1px;
}

.header{
  text-align: center;
  border-radius: 0px;
  padding: 0px;
  margin: 0px:
  height: 100%;
  color: #fff;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  background-color: pink;
}

#headerVid {
    min-width: 100%;
    min-height: 100%;
    z-index: 3;
}

h1, h2 {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  margin:0;
  padding:0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateZ(0);

}

#buttons {
  color: #fff;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  padding:0;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 43%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-transform: translateZ(0);
}

.homelogo{
  font-size: 6.5em;
  padding: 0px;
  letter-spacing: .13em;
  line-height: .6em;
  text-align: center;
  margin-bottom:.1em;
  width:100%;
  top: 30%;
  position: absolute;
  z-index: 1;
  color: rgb(255, 255, 255, .2);
  -webkit-text-stroke: 1.25px white;
}

#firstname{
  letter-spacing: .268em;
  top: 22%;
}
.letter{
  letter-spacing: 0;
}

h2{
  letter-spacing: .345em;
  word-spacing:3px;
  position: absolute;
  top: 39%;
}

.header li {
  display: inline;
  border: 1px solid rgba(255, 255, 255, .0);
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1em;
  letter-spacing: .2em;
}
#centerButton{
  padding-left: 22px;
  padding-right: 22px;
}

.header li:hover{
  border: 1px solid white;
  background-color: rgb(255, 255, 255, .2);
}


.stickylogo{
      clear: both;
      height: 42px;
      float:none;
      position: fixed;
      top:0;
      width:100%;
      z-index: 1;
}


.stickynav{
    float:none;
    position: fixed;
    top:35px;
    width:100%;
    z-index: 2;
}

a{
  color: white;;
}

a:hover {
  color:white;
  text-decoration: none;
}



h3{
  color: #656256;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1.5px solid #656256;
  letter-spacing: 1.5px;
}

h4{
  color: white;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  font-weight: lighter;
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
  letter-spacing: 8px;
  text-align: center;
}


.portfolio {
  margin-left: 2px;
  margin-right: 2px;
}

.background, .interests{
  color: #656256;
  background-color: #white;
  float: left;
  margin-bottom: 50px;
  border-bottom: 10px solid #6b7851;
  min-height: 200px;
}

.background{
  width: 65%;
  margin-right:.5%;
  margin-left: 1%;
  color: #6b7851;
}

.interests{
  width: 32%;
  margin-right:1%;
  margin-left: .5%;
}

.background h4, .interests h4{
  color: white;
  background-color: #6b7851;
  margin-top: 3px;
  padding-bottom:2px;
  width: 100%;
}

.background p, .interests p{
  margin-top: 10px;
}

.bio p{
  margin-left: 5%;
  margin-left: 5%;
  text-align: center;
  color: #656256;
  border-right: .25px solid #656256;
  padding-right: 5px;
  margin-bottom: -30px;
}

h5{
  color: #656256;
  font-variant-caps: small-caps;
  font-size: 1.25em;
}

.interests h5, .interests ol{
  margin-left: 20%;
}

ol{
  margin-top: -10px;
}

.background li{
  color:#656256;
  font-variant: normal;
  font-size: 1em;
}
.background ul{
margin-top: -10px;
}

.contactHead{
  clear: left;
}
.contact {
   border-bottom: 10px solid #656256;
   padding-bottom: 30px;
  }
.contactinfo {
  margin-top: 2px;
}
.contact h4{
  color:#656256;
  border: none;
  margin-top: 20px;
}

.contact p a, .contact p{
  color: #6b7851;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
}

.phone{
  font-size: 1.5em;
}

.project {
  background-color: #656256;
  min-height: 300px;
  border: 1.5px solid rgba(255, 255, 255, .0);
  margin: -7px;
  margin-top: 10px;
  text-align: center;
}

.project p{
  letter-spacing: 1.75px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.gitLink a{
  color: #a7BC7E;
  margin-top:5px;
}
.techUsed{
  position: absolute;
  bottom: 0px;
  font-size: .75em;
  letter-spacing: normal;
}

.row{
  margin-bottom: 60px;
}
