body{
  background-color: pink;
}

.header{
  background-color: green;
  text-align: center;
  border-radius: 0px;
  padding: 0px;
}

.header img{
}

.header h1, h2{
}

.portfolio {
  background-color: green;
}

.aboutMe{
  background-color: green;
}

.contact{
  background-color: green;
}

.projects {
  background-color: orange;
  min-height: 100px;

}

h3 {
  color:purple;
}

h4{
  color:black;
}

.caption {
  width:100%;
  bottom: 20rem;
  position: absolute;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin:0;
  padding:0;
  transition: none;
}

.caption h1, h2 {
  color: #fff;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
}

.caption h1{
  font-size: 5em;
  font-weight: lighter;

}
