body{
  background-color: white;
  padding-top: 1px;
}

.header{
  text-align: center;
  border-radius: 0px;
  padding: 0px;
  margin: 0px:
  margin-bottom: 5px;
  height: 100%;
}

#headerVid {
    min-width: 100%;
    min-height: 100%;
}

.caption {
  width:100%;
  top: 25%;
  position: absolute;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin:0;
  margin-bottom: 45px;
  padding:0;
  transition: none;
  text-shadow: -.2em .2em .25em #656256;
}

.caption h1, h2, ul {
  color: #fff;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  margin:0;
  padding:0;

}

.caption h1{
  font-size: 6em;
  margin: -18px;
  padding: 0px;
  letter-spacing: .13em;
  line-height: .75em;
  margin-bottom:.1em;
}

#firstname{
  margin-bottom: -25px;
  letter-spacing: .22em;

}

.caption h2{
  letter-spacing: .25em;
  word-spacing:3px;
  margin-top: 2px;
}

.caption ul{
  margin-top: 10px;
}

.caption li {
  display: inline;
  margin: .3em;
  border: 1px solid rgba(255, 255, 255, .0);
  padding: 7px;
  padding-top: 5px;
  font-size: 1em;
  letter-spacing: .2em;
}

a{
  color: white;;
}

a:hover {
  color:white;
  text-decoration: none;
}

.caption li:hover{
  border: 1px solid white;
  padding: 7px;
  padding-top: 5px;
}

h3{
  color: #656256;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1.5px solid #656256;
  letter-spacing: 1.5px;
}

h4{
  color: white;
  font-family: sans-serif;
  font-variant-caps: small-caps;
  font-weight: lighter;
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
  letter-spacing: 8px;
  text-align: center;
}


.portfolio {
  margin-left: 2px;
  margin-right: 2px;
}

.background, .interests{
  color: #656256;
  background-color: #white;
  float: left;
  margin-bottom: 50px;
  border-bottom: 10px solid #6b7851;
  min-height: 200px;
}

.background{
  width: 65%;
  margin-right:.5%;
  margin-left: 1%;
  color: #6b7851;
}

.interests{
  width: 32%;
  margin-right:1%;
  margin-left: .5%;
}

.background h4, .interests h4{
  color: white;
  background-color: #6b7851;
  margin-top: 3px;
  padding-bottom:2px;
  width: 100%;
}

.background p, .interests p{
  margin-top: 10px;
}

.bio p{
  margin-left: 5%;
  margin-left: 5%;
  text-align: center;
  color: #656256;
  border-right: .25px solid #656256;
  padding-right: 5px;
  margin-bottom: -30px;
}

h5{
  color: #656256;
  font-variant-caps: small-caps;
  font-size: 1.25em;
}

.interests h5, .interests ol{
  margin-left: 20%;
}

ol{
  margin-top: -10px;
}

.background li{
  color:#656256;
  font-variant: normal;
  font-size: 1em;
}
.background ul{
margin-top: -10px;
}

.contactHead{
  clear: left;
}
.contact {
   border-bottom: 10px solid #656256;
   padding-bottom: 30px;
  }
.contactinfo {
  margin-top: 2px;
}
.contact h4{
  color:#656256;
  border: none;
  margin-top: 20px;
}

.contact p a, .contact p{
  color: #6b7851;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
}

.phone{
  font-size: 1.5em;
}

.project {
  background-color: #656256;
  min-height: 300px;
  border: 1.5px solid rgba(255, 255, 255, .0);
  margin: -7px;
  margin-top: 10px;
  text-align: center;
}

.project p{
  letter-spacing: 1.75px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.gitLink a{
  color: #a7BC7E;
  margin-top:5px;
}
.techUsed{
  position: absolute;
  bottom: 0px;
  font-size: .75em;
  letter-spacing: normal;
}

.row{
  margin-bottom: 60px;
}
